@charset "utf-8";

div.global-errors {
  z-index: 99999; /* ngDialogのz-index(10000)より大きくする */   
  width: 90%;
  height: 20%;
  position: fixed;
  top: 2%;
  left: 5%;
}


div.global-errors button {
  position: absolute;
  top: 3%;
  right: 1%;
}
div.global-errors ul p {
  font-weight: bold !important;
  margin-top: 1%;
}

.global-errors {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.global-errors.ng-hide {
  opacity: 0;
}
