<p class="text-info"> 以下の情報でユーザ登録します。 </p>

<form>

  <div class="form-group">
    <label for="userId">ユーザID</label>
    <input id="userId" type="text" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="userName">ユーザ名</label>
    <input id="userName" type="text" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="mailAddress">Email</label>
    <input id="mailAddress" type="email" class="form-control">
  </div>
  
  <button type="button" class="btn btn-primary" user-register>登録</button>

</form>
